@media screen and (min-width: 613px) {
/*

Main Navigation

*/
    
    
    #main-nav_burger {
        display: none;
    }
    
    #main-nav_menu {
        position: absolute;
        top: -0.75em;
        right: 0em;
        text-align: right;
        
        width: auto;
        height: auto;
    }
    
    #main-nav_menu > li {
        display: inline-block;
        border: none;
        
        padding: 0.8em;
        padding-bottom: 0em;
        
        font-size: 1.5em;
    }
    
/*

Portfolio

*/
    #section-portfolio_gallery_content {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #section-portfolio_gallery_content figure {
        width: 16em;
        height: 20em;
        margin: 0.5em;
        border: 0.10em solid black;
    }
    
    #section-portfolio_gallery_content figure > figcaption {
        padding-top: 1.2em;
        
        font-size: 1em;
    }
    
    .section-portfolio_gallery_content_fig-title {
        font-weight: 1000;
        font-size: 1.3em;
    }
    
    #section-portfolio_gallery_content figure > div {
        width: 100%;
        height: 50%;
    }
/*

Contact

*/
    #section-contact_media-icons {
        margin-left: auto;
        margin-right: auto;
    }
    
    #section-contact_media-icons figure {
        margin: 0.4em;
    } 
    
    #section-contact_media-icons figure > figcaption {
        padding: 0.8em;
        padding-top: 0em;
        text-align: center;
        
        font-size: 2em;
    }
    
    #section-contact_media-icons figure > img {
        max-width: 250px;
    
    }
    
}